<div id="<%= dom_id group_activity %>">
  <p>
    <strong>Activity:</strong>
    <%= group_activity.activity_id %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= group_activity.group_id %>
  </p>

</div>
