<h1>Editing group activity</h1>

<%= render "form", group_activity: @group_activity %>

<br>

<div>
  <%= link_to "Show this group activity", @group_activity %> |
  <%= link_to "Back to group activities", group_activities_path %>
</div>
