<p style="color: green"><%= notice %></p>

<h1>Group activities</h1>

<div id="group_activities">
  <% @group_activities.each do |group_activity| %>
    <%= render group_activity %>
    <p>
      <%= link_to "Show this group activity", group_activity %>
    </p>
  <% end %>
</div>

<%= link_to "New group activity", new_group_activity_path %>
