<div class="categories-index">
  <% if @groups.length.zero? %> 
    <div class="empty">
      <%= image_tag ("empty.png") %>
      <h3>You don't have any categories saved. Create a category to see it here</h3>
    </div>
  <% else %>
    <div id="groups">
      <% @groups.each do |group| %>
        <%= render group %>
      <% end %>
    </div>
  <% end %>

  <%= link_to "New Category", new_group_path, class: 'categories-button' %>
</div>
