<div class="experience">
  <h1>Pocket Expense</h1>

  <div>
    <button id="experience-login">
      <%= link_to "Login", new_user_session_path %>
    </button>
    <button>
      <%= link_to "Sign up", new_user_registration_path %>
    </button>
  </div>
</div>
