<div id="<%= dom_id activity %>" class="activity">
  <div class="activity-name">
    <%= image_tag ("transaction.png") %>
    <p><%= activity.name %></p>
  </div>

  <p>$ <%= activity.amount %></p>
</div>
